*{
    font-family: var(--font-nunito);
    margin: 0;
    padding: 0;
}

:root{
    --font-nunito:      'Nunito', sans-serif;
    --font-fira-sans:   'Fira Sans', sans-serif;
    --font-fira-mono:   'Fira Mono', monospace;
    --font-roboto-mono: 'Roboto Mono', monospace;

    --background-white: #fff9f9;
    --background-red:   #d77fa1;
    --background-blue:  #d6e5fa;
    --background-black: #000000;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-white);
}

.container-main {
    grid-area: main;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */
}


@media ( min-width: 0px ) {
    .container-grid {
        display:                grid;
        max-width:              720px;
        margin-left:            auto;
        margin-right:           auto;
        grid-column-gap:        25px;
        grid-template-columns:  repeat(6, 1fr);
        grid-template-areas:
            'header header  header  header  header  header'
            'main   main    main    main    main    main'
            'footer   footer  footer  footer  footer  footer';
    }
}
@media ( min-width: 768px ) {
    .container-grid {
        display:                grid;
        max-width:              740px;
        grid-column-gap:        25px;
        grid-template-columns:  repeat(6, 1fr);
        grid-template-areas:
            'sidebar   header  header  header  header  header'
            'sidebar   main    main    main    main    main';
    }
}
@media ( min-width: 992px ) {
    .container-grid {
        display:                grid;
        max-width:              950px;
        grid-column-gap:        25px;
        grid-template-columns:  repeat(6, 1fr);
        grid-template-areas:
            'sidebar   header  header  header  header  header'
            'sidebar   main    main    main    main    main';
    }
}
@media (min-width: 1200px) {
    .container-grid{
        max-width: 1000px;
    }
}

.container-sidebar {
    grid-area: sidebar;
}
@media (max-width: 768px) {
    .container-sidebar {
        display: none;
    }
}

.navbar {
    position: sticky;
    padding: 1em .5em;
    top: 0px;
}
.navbar-ul a {
    text-decoration: none;
    color: black;
}
.navbar-ul li {
    list-style-type: none;
    position: relative;
    display: block;
    margin: .5rem 0;
    font-size: .8rem;
}
.navbar-ul a {
    display: inline-block;
    padding: .3em .5em;
    border-radius: 5px;
    transition: 0.2s;
}
.navbar-ul a:hover {
    background-color: var(--background-red);
    color: white;
    transition: 0.2s;
}


/* PERSONAL CSS STYLES */
.content {
    position:       relative;
    width:          100%;
    margin-top:     2em;
    margin-bottom:  5em;
}
.bd-content {
    position:       relative;
    margin-top:     4rem;
    margin-bottom:  10rem;
}

.headline {
    display:        inline;
    margin:         0 1.5rem;
    padding:        0;
}
@media(max-width:   576px) {
    .headline {
        display:    inline-block;
        margin:     0;
        padding:    0 .3em;
        width:      100%;
        text-align: center;
    }
}
.headline::before {
    content:        '';
    width:          99%;
    height:         100%;
    top:            calc(.8em + 0.1vh);
    left:           -0px;
    position:       absolute;
    border:         1px solid rgba(0, 0, 0, 0.3);
    border-radius:  5px;
    box-shadow:     5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index:        -1;
}

.chapter {
    position:   relative;
    padding:    2em 0;
    margin:     .2em 0;
}
.chapter-title {
    display:        block;
    position:       relative;
    padding:        0 .25em;
    margin-bottom:  50px;
    line-height:    1.2em;
}
.chapter-title::before {
    content:        '';
    width:          calc(99% + 50px);
    position:       absolute;
    top:            50%;
    left:           -25px;
    border-top:     1.3px solid rgba(0, 0, 0, 0.25);
    z-index:        -1;
}

.subchapter {
    position: relative;
}
.subchapter::after {
    content:        '*';
    display:        block;
    bottom:         0;
    margin:         3rem 50% 6rem 50%;
    opacity:        50%;
}

.subchapter-title {
    background-color:   var(--background-white);
    padding-right:      .2em;
    display:            inline-block;
}
.subchapter-title::before {
    content:            '';
    position:           absolute;
    width:              98%;
    top:                17px;
    border-top:         1px solid rgba(0, 0, 0, 0.25);
    z-index:            -1;
}

/* THIS SHOULD BE INCLUDED FOR OTHER CASES ALSO, AND NOT ONLY FOR Ps INSIDE SUBCHAPTERs */
.subchapter p {
    position:           relative;
}
.subchapter p::before {
    content:            '';
    position:           absolute;
    height:             70%;
    top:                15%;
    left:               -8px;
    border-left:        1px solid rgba(0, 0, 0, 0.5);
    opacity:            30%;
}

/* SETS A WHITE BACKGROUND TO PREVENT THE LINES FROM CROSSING THE TEXT */
.backdrop {
    background-color: var(--background-white);
    margin: 0;
}

/* USED TO MAKE CHAPTER MARGINS MERGE WITH THE BOUNDINGLINES */
.contentPadding {
    margin: 0 25px;
}

.frontPage {
    grid-area: header;
    position: relative;
    font-weight: 100;
}

/* —————————————————————————————— MARGINS —————————————————————————————— */
/* MARGIN BOTTOM */
.mb-1{
    margin-bottom:  0.5em;
}
.mb-2{
    margin-bottom:  1em;
}
.mb-3{
    margin-bottom:  1.5em;
}
.mb-4{
    margin-bottom:  2em;
}
.mb-5{
    margin-bottom:  3em;
}

/* MARGIN TOP */
.mt-1{
    margin-top: calc(1rem * .25);
}
.mt-2{
    margin-top: calc(1rem * .5);
}
.mt-3{
    margin-top: 1rem;
}
.mt-4{
    margin-top: calc(1rem * 1.5);
}
.mt-5{
    margin-top: calc(1rem * 3);
}

/* NEGATIVE MARGIN TOP */
.mt-1n{
    margin-top: calc(-1rem * .25);
}
.mt-2n{
    margin-top: calc(-1rem * .5);
}
.mt-3n{
    margin-top: -1rem;
}
.mt-4n{
    margin-top: calc(-1rem * 1.5);
}
.mt-5n{
    margin-top: calc(-1rem * 3);
}

/* MARGIN Y AXIS */
.my-1{
    margin-top:     calc(1rem * .25);
    margin-bottom:  calc(1rem * .25);
}
.my-2{
    margin-top:     calc(1rem * .5);
    margin-bottom:  calc(1rem * .5);
}
.my-3{
    margin-top:     1rem;
    margin-bottom:  1rem;
}
.my-4{
    margin-top:     calc(1rem * 1.5);
    margin-bottom:  calc(1rem * 1.5);
}
.my-5{
    margin-top:     calc(1rem * 3);
    margin-bottom:  calc(1rem * 3);
}

/* —————————————————————————————— PADDING —————————————————————————————— */
/* PADDING LEFT */
.pl-1{
    padding-left:  calc(1rem * .25);
}
.pl-2{
    padding-left:  calc(1rem * .5);
}
.pl-3{
    padding-left:  1rem;
}
.pl-4{
    padding-left:  calc(1rem * 1.5);
}
.pl-5{
    padding-left:  calc(1rem * 3);
}

/* PADDING RIGHT */
.pr-1{
    padding-right:  calc(1rem * .25);
}
.pr-2{
    padding-right:  calc(1rem * .5);
}
.pr-3{
    padding-right:  1rem;
}
.pr-4{
    padding-right:  calc(1rem * 1.5);
}
.pr-5{
    padding-right:  calc(1rem * 3);
}

/* PADDING X AXIS */
.px-5 {
    padding-left:  calc(1rem * 3) !important;
    padding-right:  calc(1rem * 3)!important;
}
.px-4 {
    padding-left:  calc(1rem * 1.5);
    padding-right:  calc(1rem * 1.5);
}
.px-3 {
    padding-left:  1rem;
    padding-right:  1rem;
}
.px-2 {
    padding-left:  calc(1rem * .5);
    padding-right:  calc(1rem * .5);
}
.px-1 {
    padding-left:  calc(1rem * .25);
    padding-right:  calc(1rem * .25);
}

@media (min-width: 768px) {
    .px-md-5 {
        padding-left:  calc(1rem * 3) !important;
        padding-right:  calc(1rem * 3) !important;
    }
    .px-md-4 {
        padding-left:  calc(1rem * 1.5) !important;
        padding-right:  calc(1rem * 1.5) !important;
    }
    .px-md-3 {
        padding-left:  1rem !important;
        padding-right:  1rem !important;
    }
    .px-md-2 {
        padding-left:  calc(1rem * .5) !important;
        padding-right:  calc(1rem * .5) !important;
    }
}

/* ———————————————————— HEADINGS, PARAGRAPHS, FONTS AND TEXT RELATED ———————————————————— */

p{
    position:   relative;
    line-height: 1.8;
}
hr{
    margin: 4rem 0;
}

.topicDivider {
    content:            '';
    position:           absolute;
    height:             70%;
    top:                15%;
    left:               -8px;
    border-left:        1px solid rgba(0, 0, 0, 0.335);
    opacity:            30%;
}
b{
    font-size:      1.05rem;
    font-weight:    700;
}
@media (max-width:  768px) {
    p {
        font-size:  0.9rem;
    }
    b {
        font-size:  1rem;
        font-weight:700;
    }
}

/* ———————————————————— LISTS ———————————————————— */
ul, ol{
    font-weight:            400;
    list-style-type:        circle;
    list-style-position:    inside;
}
ul b {
    font-size:      1.15rem;
}

.innerUl li{
    margin-top: 0.2em;
    font-weight: 390;
}
.innerUl b{
    font-weight: 700;
}


/* ———————————————————— CODE AND SNIPPETS ———————————————————— */
code, code b, .weak, .grey, .bold{
    font-family:        'Roboto Mono', monospace !important;
}
.inlineCode{
    font-family:        'Roboto Mono', monospace !important;
    color:              black;
    background-color:   rgba(158, 158, 158, 0.2);
    padding:            0.1em 0.5em;
    border-radius:      5px;
}
.snippet{
    font-family:        'Roboto Mono', monospace !important;
    background-color:   rgba(158, 158, 158, 0.1);
    border-radius:      0.4em;
}
.snippetPadding {
    padding: 0 calc(1rem * 1.5);
}
.weak{
    color:              rgba(0, 0, 0, 0.35);
}
.grey{
    color:              rgba(0, 0, 0, 0.5);
}
.bold{
    font-weight:        900;
}

.exContainer {
    box-sizing:         border-box;
    width:              calc(99% + 50px + 3rem + 2rem);
    padding:            2rem 3rem;
    margin:             1rem 0 1rem calc(-25px + -1.5rem + -1rem);
    background-color:   #d6e5fa79;
    
}
.exContainer-headline {
    box-sizing:         border-box;
    width:              calc(99% + 50px + 3rem);
    padding:            2rem 3rem;
    margin:             1rem 0 1rem calc(-25px + -1.5rem);
    background-color:   #d6e5fa79;
    /*  WITH BOOTSTRAP: 
        Because of Boostrap Spacing, which was ($spacer * 1.25) in this case, because of padding-4 we need to use rem

        padding: .5rem calc(1.5rem + 25px);
        width: calc(100% + 50px + 3rem);
        margin-left: calc(-25px + -1.5rem); */
    
}
@media (max-width:768px) {
    .exContainer-headline {
        box-sizing:         border-box;
        background-color: #d6e5fa79;
        padding: 1rem 25px;
        width: calc(99% + 50px);
        margin-left: -1.5rem;
    }
}
.exContainer-headline p::before {
    content:none;
}


/* ———————————————————— HIGHLIGHT COLORS ———————————————————— */
.gold{
    background-color:   #d77fa1;
    display:            inline-block;
    color:              #fff9f9;
    border-radius:      0.5em;
    padding:            0 0.3em;
    font-weight:        800;
    box-shadow:         2px 2px 5px rgba(175, 175, 175);
    line-height:        1.6;
}

.fw-100 {
    font-weight: 100;
}

/* ———————————————————— IMAGES ———————————————————— */
.leftImage {
    display:        block;
}
.rightImage {
    display:        block;
    margin-left:    auto;
    margin-right:   0;
}
.centeredImage {
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
}
.img40 {
    width:          40%;
}
.img50 {
    width:          50%;
}
.img60 {
    width:          60%;
}
.img70 {
    width:          70%;
}
.img80 {
    width:          80%;
}
.img90 {
    width:          90%;
}
.img100 {
    width:          100%;
}
@media ( min-width: 576px ) {
    .img-md-70 {
        width: 70%;
    }
    .img-md-90 {
        width: 90%;
    }
}


.overflow-scroll {
    overflow-x: scroll;
    min-width: 0;      /* NEW; needed for Firefox */
}

.br-25 {
    border-radius: 25px;
}